
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Editar Item</title>
 </head>
 <body>
     <h1>Editar Item</h1>
     <form action="/edit/{{ item[2] }}" method="post">
         <input type="text" name="nombre" value="{{ item[1] }}">
         <input type="text" name="descripcion" value="{{ item[3] }}">
         <input type="number" name="cantidad" value="{{ item[4] }}">
         <input type="number" name="precio" value="{{ item[5] }}">
         <input type="text" name="categoria" value="{{ item[6] }}">
         <button type="submit">Guardar</button>
     </form>
 </body>
 </html>